nav a {
  display: block;
  padding: 5px, 10px;
  color: #0066cc;
  text-decoration: none;
}

nav li {
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
  background: #ececec;
}

ul {
  padding: 0;
}

body > header,
main,
body > footer {
  max-width: 800px;
  margin: 0 auto;
}

main {
  position: relative;
}

body > header {
  position: relative;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}

h1, {
  padding: 15px 0 15px 0;
  margin: 15px 0 15px 0;
  border: 2px solid #b00b00;
}

h2, p {
  padding: 0 0 15px 0;
  margin: 0;
}

#login_message {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 15px 20px;
  opacity: 1;
  transition: top 200ms 2s linear;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-align: center;
  color: #339933;
  border: 2px solid #339933;
  border-radius: 6px;
  background: #c0f0c0;
}

#login_message.hide {
  top: -80px;
}

#logout {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
}

article header {
  margin: 0 0 15px 0;
  border-bottom: 1px solid #cccccc;
}

article {
  padding: 0 0 20px 0;
}

#posts {
  float: left;
  width: 77%;
  margin-right: 3%
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  float: right;
  width: 20%;
}

#sidebar ul {
  padding-left: 1.2em;
}

#sidebar > ul:first-of-type {
  text-align: center;
}

#sidebar > ul:first-of-type li {
  display: inline;
  padding: 0 5px;
  line-height: 150%;
}

#sidebar > ul:last-of-type a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  background: url("social_media.png") 0 0 no-repeat;
}

#sidebar > ul:last-of-type li {
  float: left;
}

#sidebar > ul:last-of-type a.twitter {
  background-position: 33% 0;
}

#sidebar > ul:last-of-type a.linkedin {
  background-position: 66% 0;
}

#sidebar > ul:last-of-type a.instagram {
  background-position: 100% 0;
}

fieldset {
  border: none;
}

label {
  display: block;
}

label, input {
  margin: 0 0 10px 0;
}

h1, h2 {
  font-family: Georgia, serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

blockquote {
  padding: 15px 0 0 20px;
  margin: 0 0 20px 20px;
  font: italic 1.14em/150% Helvetica, Arial, sans-serif;
  line-height: 150%;
  border-left: 4px solid #ececec;
}

time {
  font-variant: small-caps;
}

span {
  padding 25px;
  border: 2px solid #b00b00;
}

figure {
  margin: 0 0 20px 0;
}

figure img {
  display: block;
  width: 100%;
}

figcaption {
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  border-top: none;
  font-style: italic;
}

a.facebook {
  padding-left: 20px;
  background: #f0f099 url("facebook.png") 0 0 / 16px no-repeat;
}

footer {
  clear: both;
  padding: 15px;
  font-size: .85em;
  color: #acacac;
  background: #181818;
}

footer p {
  padding: 0;
}